### jupyter 사용방법
* h :help
- a,b:셀추가
* m,y :마크업 또는 코드
* dd : 셀 한칸 삭제
* 컨트롤 + 엔터 : 실행

##### pandas 불러옴

In [1]:

import pandas as pd

In [3]:
# 데이터 읽기
df = pd.read_csv("1.pandas.csv")

In [7]:
df

   name  score grade  age
0   Kim  100.0     A   20
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [5]:
name = '홍길동'
age = 20;
name
age

20

##### [ ] 대괄호 하나만 치면  1차원 배열로 만들어지면 시리즈(Series)

In [8]:
print(df['name']) 
print(df.age)

0     Kim
1     Cho
2    Choi
3      jo
Name: name, dtype: object
0    20
1    30
2    40
3    50
Name: age, dtype: int64

In [9]:
# [[]] 두개치면 이차원 배열(DataFrame) >> 여러개의 값을 한번가져올때 사용
print(df[['name','age']])

   name  age
0   Kim   20
1   Cho   30
2  Choi   40
3    jo   50

In [10]:
print("--- 인덱싱 ---")
# 인덱싱 : 인덱스의 범위를 지정한다
print(df[1:3]) #1~2 까지의 데이터
print(df[:3]) # 처음(0)부터 3번째 전까지(2)

--- 인덱싱 ---
   name  score grade  age
1   Cho   95.0     A   30
2  Choi   90.5     B   40
   name  score grade  age
0   Kim  100.0     A   20
1   Cho   95.0     A   30
2  Choi   90.5     B   40

In [11]:
print("--- LOC ---")
#loc : dataFrame.loc[ index조건식, 컬럼 조건식 ]
print(df.loc[1:3,'score']) # 3번까지 포함시킨당
print(df.loc[1:3,['name','score']])
print(df.loc[:,'name':'grade']) #뒤쪽의 : 은 생략가능이다
print(df.loc[:, ]) # 다 가져오는거

--- LOC ---
1    95.0
2    90.5
3    85.7
Name: score, dtype: float64
   name  score
1   Cho   95.0
2  Choi   90.5
3    jo   85.7
   name  score grade
0   Kim  100.0     A
1   Cho   95.0     A
2  Choi   90.5     B
3    jo   85.7     B
   name  score grade  age
0   Kim  100.0     A   20
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [12]:
print("===============")
print( df['grade']=='A') # 비교하는값은 T또는F가 나온다
print( df[df['grade']=='A']) #위랑 관련되어있는 트루의 정보값만 가져온다

===============
0     True
1     True
2    False
3    False
Name: grade, dtype: bool
  name  score grade  age
0  Kim  100.0     A   20
1  Cho   95.0     A   30